<div class='container'>
  <div class="row">
    <div class="col-md-4">
      <h2>Pending Friendships</h2>
      <div>
        <%= render @pending_friendships %>
      </div>
    </div>

    <div class="col-md-4">
      <h2 class="text-center">Friends list</h2>
        <ul>
          <%= render @friends %>
        </ul>
    </div>
  </div>
</div>